@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
/*!RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
/*!GENERAL STYLES*/
:root {
  --primary-color: #00c2ff;
  --secondary-color: #a0e2f7;
  --light-color: #e3eaf8;
  --dark-color: rgba(0, 0, 0, 0.925);
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
}
.primary-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
/*!MAIN FILE MANAGER CONTAINER*/
.file-manager-container {
}

/*!NAVBAR MENU*/
.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--light-color);
}

/*!BREADCRUMBS*/
.breadcrumbs__separator {
  color: black;
  font-weight: 900;
}
.breadcrumbs__separator > img {
  width: 1rem;
}
.breadcrumbs__item a {
  text-decoration: none;
  color: var(--dark-color);
}
.breadcrumbs__item > * {
  padding: 0 0.5rem;
}

/*!SEARCHBAR*/
.searchbar {
}

.searchbar__input {
  border: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.searchbar__btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/*!FILE MANAGER CONTAINER */
.file__manager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*!LEFT SIDE MENU*/
.left__menu {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
}
/*!LEFT SIDE MENU CONTAINERS*/
.create__container {
  display: flex;
  flex-direction: column;
}
.create__container > form {
  padding: 1rem;
}
.search__type {
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

/*!LEFT SIDE MENU BUTTONS*/
.create__btn,
.upload__btn {
  padding: 0.5rem 1rem;
}
.search__type-button {
  margin: 1rem;
}

/*MAIN CONTENT CONTAINER*/
.files__container {
  border: 1px solid black;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.files__container-folder {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100px;
  width: 100px;
}
.files__container-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 13);
  height: 100px;
  width: 100px;
}

/*ASIDE*/
.aside__info {
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.aside__img {
  margin: 1rem;
  border: 1px solid red;
  height: 100px;
  width: 100px;
}
.aside__details {
  margin: 1rem;
  border: 1px solid rgb(21, 255, 0);
}
.aside__details-list {
  list-style: none;
}
.aside__btn {
  margin: 1rem;
}
